<div id="kq"></div>

<script>
let fullName = "Hoang Thi Ngoc Linh";
let studentId = "27A4042956";
let faculty = "CNTT";

let arr = fullName.toLowerCase().split(" ");

let ten = arr[arr.length - 1]; 
let ho = arr[0].charAt(0); 

let dem = "";
for (let i = 1; i < arr.length - 1; i++) {
    dem += arr[i].charAt(0);
}

let email = ten + ho + dem + "." + studentId.toLowerCase() + "@hvnh.edu.vn";

let coursePeriod = studentId.substring(0, 2);

let last4 = studentId.substring(studentId.length - 4);
let sum = 0;
for (let i = 0; i < last4.length; i++) {
    sum += parseInt(last4[i]);
}

document.getElementById("kq").innerHTML =
    "Email: " + email + "<br>" +
    "Xin chào " + fullName +
    ", bạn là sinh viên khóa " + coursePeriod +
    ", khoa " + faculty +
    ", mã sinh viên " + studentId +
    ", tổng 4 số cuối là " + sum;
</script>